@tailwind base;
@tailwind components;
@tailwind utilities;


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.abs-center{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;

}
